body {
  font-family: Arial, sans-serif;
  margin: 0;
  
  background-color: #e3e0dd;
}

/* Navbar styling */
.navbar {
  display: grid;
  place-items: center;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  position: sticky;
  top: 0;
  
}

.nav-links {
  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 500;
  padding: 5px 10px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #1a73e8;
  border-bottom: 2px solid #1a73e8;
}
h1 {
  text-align: left;
  margin-bottom: 30px;
  padding: 15px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.imgbox {
  width: 100%;
  overflow: hidden;
  /* border-radius: 10px; */
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.imgbox img {
  width: 100%;
  height: 100%;
 
  transition: transform 0.5s ease;
}

.imgbox:hover img {
  transform: scale(1.1);
}